html {
  position: relative; 
  display: flex;
  min-height: 100vh; 
  flex-direction: column; 
}

body {
  font-family: 'Roboto', 'sans-serif';
  margin-top: 3%; 
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 3%;
}

a {
  text-decoration: none;
  background-color: transparent;
  color: #9b4dca;
}

.container {
  position: relative;
  flex: 1;
}

.container > .greetings > h2 {
  font-weight: 500;
  text-align: center;
}

header {
  text-align: center;
} 

header > #photo {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  object-fit: cover;
}

/* social buttons */
.social > ul {
  padding: 0;
  list-style-type:none;
  text-align: center;
}

.social > ul > li {
  display: inline-block;
  padding: 5px;
}

.fa-github-square {
  color: #6e5494;
}

.fa-linkedin-square {
  color: #4875B4;
}
.fa-envelope-square {
  color: #dd4b39;
}

/* back and download button */
.navigation {
  position: relative;
}

.navigation > a {
  color: #9b4dca;
  margin-right: 1vh;
  padding: 1vh 2vh;
  width: 20vh; /*10%*/
  border: 1px solid #9b4dca;
  font-size: 2vh;
  border-radius: 25px;
}

.navigation > a:hover{
  color: white;
  background: #9b4dca;
  transition-duration: 0.25s;
}

/* blinking cursor */
.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}

@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

@-ms-viewport {
  width: device-width;
}